body{
  font-family: Arial, sans-serif;
  background-color: #e6ebbb;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-container{
  text-align: center;
  padding: 20px;
  background-color: #a56827;
  border-radius: 10px;
  margin: 10px;
}
.myh1{
  color: #000000;
  font-size: 2rem;
}
.job-list{
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.job-card{
  background-color: #efdcab;
  border-radius: 10px;
  box-shadow: 0 4 10px #0000001a;
  transition: transform 0.5s ease-in-out;
  animation: fadeIn 0.6s ease-in-out;
  padding: 20px;
  width: 300px;
}
.job-card:hover{
  transform: translateY(-10px);
}
.job-card h2{
  color: #1d1c1c;
}
.job-card p{
  color: #302f2f;
}
button{
  background-color: #534230;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 15px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}
button:hover{
  background-color: #251a0d;
}
.job-details{
  background-color: #fff3d4;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4 10px #00000056;
  animation: slideIn 1.7s ease-in-out;
}
.job-details p{
  padding: 20px;
  line-height: 20px;
}
ul{
  list-style: disc;
  padding: 0;
  padding-left: 10px;
  text-align: center;
  justify-content: center;
}
@keyframes fadeIn {
  from {
    opacity: 0; transform: translateY(-10px);
  }
  to {
    opacity: 1; transform: translateY(1px);
  }
}
@keyframes slideIn {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 1000px;
    opacity: 1;
  }
}